// --- Colors ---
$green: #90bf3e;
$blue: #60aee0;
$blueGreen: #27b5c3;
$dark: #5c5a5b;


// --- Elements ---
body {
	color: $dark;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	width: 100%;

}

h1 {

	font-weight: 800;
}

h2 {

	font-weight: 400;
}

p {
	font-family: 'Poppins', sans-serif;
}

// --- Globals ---

.blue-accent {
	color: $blue;
}


.hori-rule {
	background-color: #ffff;
	border: 0;
	border-bottom: 15px dotted $green;
	margin: 0 auto;
	opacity: .7;
	width: 15%;
}

// --- Title ---

.title {
	margin: auto;
	padding: 1rem 4rem;
	margin: 5% auto 0;
}

.logo {
	margin: auto;
	padding-left: 15%;
}

.title-heading {
	font-size: 5rem;
	margin: 0;

}

.title-image {
	border: 5px solid $blue;
	border-radius: 50%;
	filter: grayscale(20%);
	height: 16rem;
	overflow: hidden;
	width: 16rem;


}

.header {
	margin: auto;
	padding-right: 15%;
}

.title-icon {
	font-size: 2rem;
	margin: 1rem;
}

.title-icon:hover {
	color: $green
}

.tagline {
	font-size: 1.5rem;
	margin: 5% auto;
	text-align: center;
	width: 40%;
}

// --- showcase ---

.showcase-carousel {
	margin: 5% 0;
}

.showcase-image {
	border-radius: 10px;
	height: 20rem;

}

// --- contact ---

.contact {
	background-color: $blueGreen;
	border-radius: 15px 15px 0 0;
	color: #ffff;
	margin: 5% 0 0;
	padding: 2% 15%;
}

.contact-content {
	line-height: 2;
}



.contact-icon {
	font-size: 2rem;
	margin: 1rem;

}

.contact-icon:hover {
	opacity: .7;
}


// --- @media ---

@media (max-width: 991px) {
	body {
		margin: 0;
	}


	.contact-icon {
		font-size: 1rem;
		margin: 0.5rem;
	}

	.hori-rule {
		background-color: transparent;
		border: 0;
		border-bottom: 10px dotted $green;
		margin: auto;
		width: 30%;

	}

	// Title
	.title {
		margin: 5% auto;
		padding: 1rem 0;

	}

	.title-image {
		height: 12rem;
		width: 12rem;
	}

	.title-heading {
		font-size: 3rem;
	}

	.logo {
		margin: 5% auto;
		padding: 0;

	}

	.header {
		margin: 5% auto;
		padding: 0;

	}

	.tagline {
		font-size: 1rem;
		margin: 5% auto;
		text-align: center;
		width: 50%;
	}

	// --- showcase ---

	.showcase-image {
		border-radius: 10px;
		height: 10rem;
		margin: auto auto;
	}

}